<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <img (dblclick)="gotoResults()" (press)="gotoResults()" *ngIf="!survey.banner" src="http://empleos.universia.net.co/resources/logos_emp/Logo_660750.png"
      class="logo">
    <img (dblclick)="gotoResults()" (press)="gotoResults()" *ngIf="survey.banner" [src]="survey.banner" class="banner">
  </div>
  <h1 text-center>Encuesta</h1>
  <h3 text-center>{{survey.question}}</h3>
  <div text-center padding-vertical>
    <button color="light" margin-vertical ion-button large full (click)="showThanks(1)"> {{survey.answer_1}} </button>
    <button color="light" margin-vertical ion-button large full (click)="showThanks(2)"> {{survey.answer_2}} </button>
    <button color="light" margin-vertical ion-button large full (click)="showThanks(3)"> {{survey.answer_3}} </button>
  </div>
</ion-content>
