<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <img (dblclick)="gotoResults()" (press)="gotoResults()" *ngIf="!survey.banner" src="http://empleos.universia.net.co/resources/logos_emp/Logo_660750.png"
      class="logo">
    <img (dblclick)="gotoResults()" (press)="gotoResults()" *ngIf="survey.banner" [src]="survey.banner" class="banner">
  </div>
  <h3 color="primary" ion-text text-center>{{survey.question}}</h3>
  <ion-grid padding-vertical>
    <ion-row>
      <ion-col text-center>
        <button color="light" class="button-answer" margin-vertical ion-button large (click)="showThanks(1)">
          {{survey.answer_1}}
        </button>
      </ion-col>
      <ion-col text-center>
        <button color="light" class="button-answer" margin-vertical ion-button large (click)="showThanks(2)">
          {{survey.answer_2}}
        </button>
      </ion-col>
      <ion-col text-center>
        <button color="light" class="button-answer" margin-vertical ion-button large (click)="showThanks(3)">
          {{survey.answer_3}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
